body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:59px;
  top:456px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1371 {
  position:absolute;
  left:42px;
  top:14px;
  width:422px;
  height:829px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:363px;
  top:96px;
  width:1px;
  height:16px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1375 {
  position:absolute;
  left:63px;
  top:82px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1376 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1377 {
  position:absolute;
  left:63px;
  top:82px;
  width:375px;
  height:20px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1379 {
  position:absolute;
  left:63px;
  top:145px;
  width:375px;
  height:1px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1381 {
  position:absolute;
  left:210px;
  top:115px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1383 {
  position:absolute;
  left:80px;
  top:113px;
  width:12px;
  height:21px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1385 {
  position:absolute;
  left:389px;
  top:115px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1387 {
  position:absolute;
  left:101px;
  top:359px;
  width:300px;
  height:40px;
  color:#FFFFFF;
}
#u1388 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:89px;
  top:234px;
  width:324px;
  height:45px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1391 {
  position:absolute;
  left:377px;
  top:250px;
  width:25px;
  height:16px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1393 {
  position:absolute;
  left:101px;
  top:250px;
  width:242px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
