body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1743 {
  position:absolute;
  left:2px;
  top:156px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:252px;
}
#u1744 {
  position:absolute;
  left:41px;
  top:343px;
  width:1019px;
  height:252px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:118px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:253px;
}
#u1746 {
  position:absolute;
  left:42px;
  top:595px;
  width:1009px;
  height:253px;
}
#u1747 {
  position:absolute;
  left:2px;
  top:118px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
}
#u1748 {
  position:absolute;
  left:694px;
  top:426px;
  width:130px;
  height:14px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:-1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:11px;
}
#u1750 {
  position:absolute;
  left:520px;
  top:428px;
  width:186px;
  height:11px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:-2px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:24px;
}
#u1752 {
  position:absolute;
  left:81px;
  top:394px;
  width:694px;
  height:24px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:4px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1754 {
  position:absolute;
  left:619px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1755 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1756 {
  position:absolute;
  left:106px;
  top:397px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1757 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1758 {
  position:absolute;
  left:327px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1760 {
  position:absolute;
  left:224px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1761 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1762 {
  position:absolute;
  left:719px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1763 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1764 {
  position:absolute;
  left:429px;
  top:397px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1766 {
  position:absolute;
  left:547px;
  top:397px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:248px;
}
#u1768 {
  position:absolute;
  left:115px;
  top:446px;
  width:430px;
  height:248px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:116px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1770 {
  position:absolute;
  left:443px;
  top:514px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
}
#u1771 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u1772 {
  position:absolute;
  left:451px;
  top:633px;
  width:97px;
  height:37px;
  color:#FF6600;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
