body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:156px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:252px;
}
#u1640 {
  position:absolute;
  left:41px;
  top:343px;
  width:1019px;
  height:252px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:118px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:253px;
}
#u1642 {
  position:absolute;
  left:42px;
  top:595px;
  width:1009px;
  height:253px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:118px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
