body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:328px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:156px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:252px;
}
#u1646 {
  position:absolute;
  left:41px;
  top:343px;
  width:1019px;
  height:252px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:118px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:253px;
}
#u1648 {
  position:absolute;
  left:42px;
  top:595px;
  width:1009px;
  height:253px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:118px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
}
#u1650 {
  position:absolute;
  left:694px;
  top:426px;
  width:130px;
  height:14px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:-1px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:11px;
}
#u1652 {
  position:absolute;
  left:520px;
  top:428px;
  width:186px;
  height:11px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:-2px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:24px;
}
#u1654 {
  position:absolute;
  left:81px;
  top:394px;
  width:694px;
  height:24px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:4px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1656 {
  position:absolute;
  left:619px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1658 {
  position:absolute;
  left:106px;
  top:397px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1660 {
  position:absolute;
  left:327px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1662 {
  position:absolute;
  left:224px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1664 {
  position:absolute;
  left:719px;
  top:397px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1666 {
  position:absolute;
  left:429px;
  top:397px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1668 {
  position:absolute;
  left:547px;
  top:397px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:248px;
}
#u1670 {
  position:absolute;
  left:115px;
  top:446px;
  width:430px;
  height:248px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:116px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1672 {
  position:absolute;
  left:342px;
  top:555px;
  width:300px;
  height:40px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:32px;
}
#u1674 {
  position:absolute;
  left:342px;
  top:615px;
  width:433px;
  height:32px;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  position:absolute;
  left:282px;
  top:529px;
  width:564px;
  height:131px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:58px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:38px;
}
#u1679 {
  position:absolute;
  left:297px;
  top:557px;
  width:456px;
  height:38px;
  font-size:16px;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  position:absolute;
  left:297px;
  top:611px;
  width:239px;
  height:19px;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1683 {
  position:absolute;
  left:297px;
  top:643px;
  width:211px;
  height:16px;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u1685 {
  position:absolute;
  left:767px;
  top:372px;
  width:57px;
  height:29px;
  color:#FFFFFF;
}
#u1686 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1687 {
  position:absolute;
  left:771px;
  top:374px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  position:absolute;
  left:-4px;
  top:36px;
  width:1082px;
  height:44px;
}
#u1691 {
  position:absolute;
  left:2px;
  top:14px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  position:absolute;
  left:13px;
  top:50px;
  width:421px;
  height:16px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1694 {
  position:absolute;
  left:1035px;
  top:50px;
  width:20px;
  height:20px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
