body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:615px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:615px;
}
#u27 {
  position:absolute;
  left:2px;
  top:300px;
  width:549px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:12px;
  top:82px;
  width:144px;
  height:170px;
}
#u29 {
  position:absolute;
  left:2px;
  top:77px;
  width:140px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:239px;
  top:82px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:239px;
  top:147px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:239px;
  top:212px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:12px;
  top:295px;
  width:144px;
  height:105px;
}
#u37 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:239px;
  top:295px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:239px;
  top:360px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:12px;
  top:459px;
  width:144px;
  height:105px;
}
#u43 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:239px;
  top:459px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:239px;
  top:524px;
  width:144px;
  height:40px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:2px;
}
#u49 {
  position:absolute;
  left:156px;
  top:167px;
  width:83px;
  height:1px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:131px;
}
#u51 {
  position:absolute;
  left:197px;
  top:103px;
  width:1px;
  height:130px;
}
#u52 {
  position:absolute;
  left:2px;
  top:57px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u53 {
  position:absolute;
  left:197px;
  top:232px;
  width:42px;
  height:1px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u55 {
  position:absolute;
  left:197px;
  top:102px;
  width:42px;
  height:1px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u57 {
  position:absolute;
  left:156px;
  top:347px;
  width:42px;
  height:1px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u59 {
  position:absolute;
  left:197px;
  top:315px;
  width:42px;
  height:1px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u61 {
  position:absolute;
  left:197px;
  top:380px;
  width:42px;
  height:1px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u63 {
  position:absolute;
  left:197px;
  top:316px;
  width:1px;
  height:65px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u66 {
  position:absolute;
  left:156px;
  top:511px;
  width:42px;
  height:1px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u68 {
  position:absolute;
  left:197px;
  top:479px;
  width:42px;
  height:1px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u70 {
  position:absolute;
  left:197px;
  top:544px;
  width:42px;
  height:1px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u72 {
  position:absolute;
  left:197px;
  top:480px;
  width:1px;
  height:65px;
}
#u73 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
