body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:21px;
  top:80px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u66 {
  position:absolute;
  left:21px;
  top:177px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u68 {
  position:absolute;
  left:54px;
  top:294px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70 {
  position:absolute;
  left:178px;
  top:190px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:271px;
  top:190px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  position:absolute;
  left:1px;
  top:1px;
  width:505px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:501px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1676px;
}
#u76 {
  position:absolute;
  left:1px;
  top:40px;
  width:1px;
  height:1675px;
}
#u77 {
  position:absolute;
  left:2px;
  top:830px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1589px;
}
#u78 {
  position:absolute;
  left:505px;
  top:40px;
  width:1px;
  height:1588px;
}
#u79 {
  position:absolute;
  left:2px;
  top:786px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u80 {
  position:absolute;
  left:-14px;
  top:1627px;
  width:520px;
  height:1px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:21px;
  top:393px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u84 {
  position:absolute;
  left:21px;
  top:495px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u86 {
  position:absolute;
  left:54px;
  top:605px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u88 {
  position:absolute;
  left:178px;
  top:508px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u90 {
  position:absolute;
  left:271px;
  top:508px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u92 {
  position:absolute;
  left:21px;
  top:706px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u94 {
  position:absolute;
  left:54px;
  top:816px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u96 {
  position:absolute;
  left:178px;
  top:719px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:271px;
  top:719px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u99 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:21px;
  top:920px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u102 {
  position:absolute;
  left:21px;
  top:1024px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u104 {
  position:absolute;
  left:54px;
  top:1134px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u105 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u106 {
  position:absolute;
  left:178px;
  top:1037px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:271px;
  top:1037px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u110 {
  position:absolute;
  left:21px;
  top:1222px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u112 {
  position:absolute;
  left:54px;
  top:1343px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u114 {
  position:absolute;
  left:178px;
  top:1235px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:271px;
  top:1235px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:22px;
  top:1440px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:79px;
  top:130px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u120_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u120_seg2 {
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u121 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:79px;
  top:252px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u122_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u122_seg2 {
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u123 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:79px;
  top:344px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u124_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u124_seg2 {
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u125 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:79px;
  top:443px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u126_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u126_seg2 {
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u127 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:79px;
  top:570px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u128_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u128_seg2 {
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:19px;
}
#u129 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:79px;
  top:655px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u130_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u130_seg2 {
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:19px;
}
#u131 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:79px;
  top:781px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u132_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u132_seg2 {
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:19px;
}
#u133 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:79px;
  top:866px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u134_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u134_seg2 {
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u135 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:79px;
  top:970px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u136_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u136_seg2 {
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u137 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:79px;
  top:1099px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u138_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u138_seg2 {
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:19px;
}
#u139 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:79px;
  top:1184px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u140_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u140_seg2 {
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u141 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:79px;
  top:1297px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u142_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u142_seg2 {
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:19px;
}
#u143 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:79px;
  top:1393px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u144_seg1 {
  position:absolute;
  left:-4px;
  top:33px;
  width:9px;
  height:8px;
}
#u144_seg2 {
  position:absolute;
  left:-3px;
  top:33px;
  width:8px;
  height:14px;
}
#u144_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u144_seg4 {
  position:absolute;
  left:-8px;
  top:34px;
  width:18px;
  height:19px;
}
#u145 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:136px;
  top:215px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u146_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u147 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:136px;
  top:533px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u148_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u148_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u149 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:136px;
  top:744px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u150_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u150_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u151 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:136px;
  top:1062px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u152_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u152_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u153 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:136px;
  top:1260px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u154_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u154_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u155 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:22px;
  top:1547px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
